.button {
    padding: 2.2vw 5.5vw;
    margin-inline: 1rem;
    font-size: 1.4vw;
    font-weight: bold;
    text-align: center;
    color: oklch(98.44% 0 0);
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4.4px 15px oklch(12.91% 0.031 276.04);
    background-color: oklch(59.03% 0.224 259.96);
}

.button:hover {
    background-color: oklch(43.74% 0.155 263.49);
}

.button:active {
    transform: scale(0.95);
}

.button:disabled {
    transform: none; /* Disabled buttons should not shrink */
    background-color: oklch(53.21% 0.156 28.48);
    cursor: not-allowed;
}

.menu-button {
    padding: 0.75vw 1.75vw;
    margin-inline: 1rem;
    margin-block-start: 0.5rem;
    font-size: 0.6vw;
    font-weight: bold;
    text-align: center;
    color: oklch(99.5% 0.126 63.53);
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3.4px 10px oklch(12.91% 0.031 276.04);
    background-color: oklch(40% 0.081 249.88 / 80%);
}

.menu-button:hover {
    background-color: oklch(40% 0.081 249.88);
}

.menu-button:active {
    transform: scale(0.9);
}

.form-button {
    margin: 0;
}

.centered-buttons-container {
    margin-block-start: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.take-quiz-options-buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 70%;
    height: 45vh;
}

.take-quiz-options-button {
    background-color: oklch(51.26% 0.132 305.26 / 85%);
    font-size: 2.5vw;
    padding: 0; /* Remove inherited padding. Makes the grid more responsive for smaller screen sizes. */
    margin: 0; /* Remove inherited margin. Makes button size fill the grid. */
}

.take-quiz-options-button:hover {
    background-color: oklch(41.26% 0.132 305.26 / 75%);
}

.take-quiz-options-button:active {
    transform: scale(0.98);
}

.take-quiz-options-button:disabled {
    transform: none; /* Reapply the same no-shrink */
    background-color: oklch(45.25% 0.147 359.26 / 85%);
}

@keyframes buttonFlashGreen {
    0% { background-color: oklch(45.25% 0.147 359.26 / 85%); } /* disabled color */
    50% { background-color: oklch(43.32% 0.118 147.49); }
    100% { background-color: oklch(45.25% 0.147 359.26 / 85%); } /* disabled color */
}

@keyframes buttonFlashRed {
    0% { background-color: oklch(45.25% 0.147 359.26 / 85%); } /* disabled color */
    50% { background-color: oklch(32.94% 0.133 23.61); }
    100% { background-color: oklch(45.25% 0.147 359.26 / 85%); } /* disabled color */
}

.take-quiz-options-button-flashGreen {
    animation: buttonFlashGreen 2.5s;
}

.take-quiz-options-button-flashRed {
    animation: buttonFlashRed 2.5s;
}

@media screen and (max-width: 800px) {
    .button {
        padding: 1.5rem 3.5rem;
        font-size: 1rem;
    }
    .menu-button {
        padding: 0.75rem 2rem;
        font-size: 0.5rem;
    }
    .take-quiz-options-button {
        padding: 0;
        font-size: 1rem;
    }
}