.button {
    display: inline-block;
    padding: 2.2rem 5rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: oklch(98.44% 0 0);
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4.4px 15px oklch(12.91% 0.031 276.04);
    background-color: oklch(59.03% 0.224 259.96);
}

.button:hover {
    background-color: oklch(43.74% 0.155 263.49);
}

.button:active {
    transform: scale(0.95);
}

.button:disabled {
    transform: none; /* Disabled buttons should not shrink */
    background-color: oklch(53.21% 0.156 28.48);
    cursor: not-allowed;
}

.centered-buttons-container {
    margin-block-start: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.take-quiz-options-buttons-container {
    margin-block-start: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 83%;
    height: 58vh;
}

.take-quiz-options-button {
    background-color: oklch(51.26% 0.132 305.26 / 85%);
    font-size: 2rem;
}

.take-quiz-options-button:hover {
    background-color: oklch(41.26% 0.132 305.26 / 75%);
}

.take-quiz-options-button:active {
    transform: scale(0.98);
}

.take-quiz-options-button:disabled {
    transform: none; /* Reapply the same no-shrink */
    background-color: oklch(45.25% 0.147 359.26 / 85%);
}