.button {
    display: inline-block;
    padding: 15px 40px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    color: oklch(98.44% 0 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4.4px 15px oklch(12.91% 0.031 276.04);
    background-color: oklch(59.03% 0.224 259.96);
}

.button:hover {
    background-color: oklch(43.74% 0.155 263.49);
}

.button:active {
    transform: scale(0.95);
}

.button:disabled {
    transform: none; /* Disabled buttons should not shrink */
    background-color: oklch(53.21% 0.156 28.48);
    cursor: not-allowed;
}

.take-quiz-options-button {

}

.take-quiz-options-button:hover {
    
}

.take-quiz-options-button:active {
    
}

.take-quiz-options-button:disabled {
    
}