.options-button-container {
    margin-block-start: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option-button {
    width: 25vw;
    align-self: center;
}

.centered-instructions {
    display: flex;
    justify-content: center;
}