.options-button-container {
    margin-block-start: 1.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    grid-auto-rows: minmax(4rem, auto);
}

.take-quiz-button {
    grid-column: 1;
    grid-row: 1;
}

.create-question-button {
    grid-column: 1;
    grid-row: 2;
}

.modify-question-button {
    grid-column: 1;
    grid-row: 3;
}

.delete-question-button {
    grid-column: 1;
    grid-row: 4;
}